<div id="result"
	data-role="view"
	data-layout="layout-menu"
	data-init="app.result.init"
	data-before-show="app.result.beforeShow"
	data-show="app.result.show"
	data-after-show="app.result.afterShow"
	>
	<div id="result-wrapper">
	    
	</div>

	<footer onclick="app.result.share(event)" class="sharable-footer footer-btn" data-role="footer" style="padding: 0">
		<div style="text-align: center;">
			<a href="">
				<span class="big-share-icon"></span>
			</a>
		</div>
    </footer>
</div>