<div data-role="view" 
	id="consult-eligible-view"
	data-show="app.consultEligibleService.show"
	data-model="app.consultEligibleService.viewModel"
    data-use-native-scrolling="true"
	data-layout="layout-menu"
	data-title="Consultation Request">

	<div style="margin: 1em; padding: 0.5em; background: rgb(230, 230, 230);">
		<div style="text-align: center">Thank you for your responses!</div>
		
		<p style="margin-left: 0; margin-right: 0;">Based on your answers, you may be a good candidate for this report.</p>
		
		<p style="margin-left: 0; margin-right: 0;">A physician must order this genetic report for you. Pathway Client 
			Services can help refer a physician to authorize your testing services.</p>
	    
		<form id="consult-eligible-form" onsubmit="app.consultNotEligibleService.viewModel.validate(event); return false;" style="margin: 1.5em;">
			<label class="form-field" style="position: relative; margin: 0">
				<input style="position: absolute;" type="checkbox" data-bind="checked: sendCopyToMyself" value="1">
				<div style="float: left; padding-left: 1.5em;">Send me a copy of the email</div>
				<div style="clear: left; height: 0; margin-bottom: 0.4em"></div>
				<div style="float: left; padding-left: 1.5em;" data-bind="visible: sendCopyToMyself">An email will be sent to: <span data-bind="text: email"></span></div>
            	<div style="clear: left; height: 0;"></div>
            </label>
			<p></p>
			
			<label class="form-field" style="position: relative; margin: 0">
				<input style="position: absolute; top: 0; left: 0" type="checkbox" data-bind="checked: sendCopyToPhysician" value="1">
				<div style="float: left; padding-left: 1.5em;">Send a copy of the email to my physician</div>
				<div style="clear: left; height: 0;"></div>
            </label>
			<div style="padding: 0.5em" data-bind="visible: sendCopyToPhysician">
				<ul data-role="listview">
					<li style="
					    height: 32px;
					    padding: 0;
					">
						<input class="input" style="width: 100%;height: 32px;margin: 0;top: 0;left: 0;right: 0;" type="email" onclick="app.scrollTo2(event);" data-bind="value: physicianEmail" value="" placeholder="e.g. myname@example.net" required data-email-msg="Email address is not valid">
						
                    </li>
                </ul>
            </div>
        	<div style="clear: left; height: 0;"></div>
			<p></p>
			<div class="no-results" style="margin-top: 15%">
				<a href="#" class="btn" data-bind="click: validate" style="width: 196px; margin: 0 auto;">Send</a>
				<p></p>
				<a href="#" class="btn" data-bind="click: cancel" style="width: 196px; margin: 0 auto;">No Thanks</a>
			</div>
		</form>
	</div>
	
</div>