<div data-role="view" 
	id="consult-not-eligible-view"
	data-show="app.consultNotEligibleService.show"
	data-model="app.consultNotEligibleService.viewModel"
	data-layout="layout-menu"
	data-use-native-scrolling="true"
	data-title="Consultation Request">

	<div style="margin: 1em; padding: 0.5em; background: rgb(230, 230, 230);">
		<div style="text-align: center">Thank you for your responses!</div>
		
		<p style="margin-left: 0; margin-right: 0;">Based on your answers, this test is unlikely to be appropriate for you.</p>
		
		<p style="margin-left: 0; margin-right: 0;">Please consult your personal healthcare provider to see if genetic testing is 
			recommended based on your ethnic background, family structure, or other unique factors.</p><br>
	    
		<form id="consult-not-eligible-form" onsubmit="app.consultNotEligibleService.viewModel.validate(event); return false;" style="margin: 1.5em;">
			<div style="background: rgb(240, 240, 240); margin: -1.5em; padding: 1.0em;">
				<label class="form-field" style="position: relative; margin: 0">
					<div class="text-align: center">Email my physician regarding this test</div>
					<div style="padding: 0.5em">
						<input class="input" style="width: 100%;" type="email" data-bind="value: physicianEmail" value="" placeholder="e.g. myname@example.net" required data-email-msg="Email address is not valid">
	                </div>
	            	<div style="clear: left; height: 0;"></div>
	            </label>
				<p></p>
				<div class="no-results" style="margin-top: 0%">
					<a href="#" class="btn" data-bind="click: validate" style="width: 196px; margin: 0 auto;">Send</a>
				</div>
			</div>
			<div class="no-results" style="margin-top: 30%">
				<a href="#" class="btn" style="background: #999999; border: 1px solid #585858; width: 196px; margin: 0 auto;" data-bind="click: cancel">Close</a>
			</div>
		</form>
	</div>
	
</div>