<div data-role="view" 
	id="consult-request-view"
	data-init="app.consultRequestService.init"
	data-before-show="app.consultRequestService.beforeShow"
	data-show="app.consultRequestService.show"
	data-after-show="app.consultRequestService.afterShow"
	data-hide="app.consultRequestService.hide"
	data-model="app.consultRequestService.viewModel"
	data-layout="layout-menu"
	data-title="Consultation Request">

	<div class="consult-header" data-bind="attr: {style: referral.getReferrralLabelStyle}">
		<div class="consult-header-title" data-bind="html: referral.label"></div>
		<div class="consult-header-subtitle">Is taking this test advisable for you?</div>
    </div>
	
	<ol class="consult-questions" data-template="row-template" data-bind="source: referral.questions">
		
    </ol>
	
	<script id="row-template" type="text/x-kendo-template">
	    <li class="consult-questions-row">
			# /* console.log(data, data.parent().toJSON().reduce(function (result, a, b) { return (a.id === data.id) ? b : result;  }, -1) ); */ #
	        <div>#= data.text #</div>
			<div>
				<label><input name="consult_question_#: id #" data-bind="checked: answer" value="0" type="radio" /> <span>No</span></label>
				<label><input name="consult_question_#: id #" data-bind="checked: answer" value="1" type="radio" /> <span>Yes</span></label>
			</div>
	    </li>
	</script>
	<!--
    <ul class="preference-group" data-template="preferences-template" data-bind="source: preferences.preference_graph"></ul>
	
	<script id="preferences-template" type="text/x-kendo-template">
		<li>
			<span class="title">#: label #</span>
            <ul data-template="preferences-sub-template" data-bind="source: preferences"></ul>
		</li>
    </script>
	<script id="preferences-sub-template" type="text/x-kendo-template">
        <li>
			<div style="padding-right: 3.7rem" data-bind="text: description"></div>
			
			<input data-role="switch" id="account-settings-keep-me-updated" data-bind="checked: value" />
        </li>
    </script>
	-->
            
	<footer data-role="footer" class="footer-btn">
		<a data-bind="click: evaluateQuestions" class="action-button">Submit</a>
	</footer>
</div>