<div data-role="view" 
	id="account-settings-view"
	data-init="app.accountPreferencesService.init"
	data-before-show="app.accountPreferencesService.beforeShow"
	data-show="app.accountPreferencesService.show"
	data-after-show="app.accountPreferencesService.afterShow"
	data-hide="app.accountPreferencesService.hide"
	data-model="app.accountPreferencesService.viewModel"
	data-layout="layout-menu"
	data-title="Preferences">
    <ul class="preference-group" data-template="preferences-template" data-bind="source: preferences.preference_graph"></ul>
	
	<script id="preferences-template" type="text/x-kendo-template">
		<li>
			<span class="title">#: label #</span>
            <ul data-template="preferences-sub-template" data-bind="source: preferences"></ul>
		</li>
    </script>
	<script id="preferences-sub-template" type="text/x-kendo-template">
        <li>
			<div style="padding-right: 3.7rem" data-bind="text: description"></div>
			
			<input data-role="switch" id="account-settings-keep-me-updated" data-bind="checked: value" />
        </li>
    </script>
            
	<footer data-role="footer" class="footer-btn">
		<a data-bind="click: savePreferences" class="action-button">Save</a>
	</footer>
</div>