<div id="welcome-step-3-view"
	class="login-bg"
    data-role="view"
    data-before-show="app.welcomeStep3Service.beforeShow"
    data-init="app.welcomeStep3Service.init"
    data-show="app.welcomeStep3Service.show"
    data-model="app.welcomeStep3Service.viewModel"
    data-use-native-scrolling="true"
    data-after-show="app.welcomeStep3Service.afterShow"
	data-layout="login-layout">

	<div class="view-content">
		<div class="pad center">
            <div class="fill-content"><div class="center-content">
                <p>Please confirm some information so we can locate your report</p>
                <form id="register-form" onsubmit="app.welcomeStep3Service.viewModel.nextStep(); return false;">
    				<ul data-role="listview" data-style="inset" class="blank-labels">
                        <li class="notice">Is your name spelled correctly?</li>
                    	<li>
    						<label>&nbsp;
    							<input type="text" onkeyup="(event.keyCode === 13) ? app.welcomeStep3Service.viewModel.nextStep() : '';" onclick="app.scrollTo(event);" spellcheck="false" autocorrect="off" autocomplete="off" data-bind="value: name" name="name" value="" placeholder="Last, First">
    						</label>
    					</li>
                        <li class="notice">Confirm your Date of Birth</li>
    					<li>
    						<label 
                                ontouchstart="app.datePicker(event, this, 'date_of_birth', app.welcomeStep3Service.viewModel, null, new Date(1900,0,1), app.get18YearsAgo());"
                                style="display:block; line-height: 1.3em; text-align: left;" class="dob">
        						Date of Birth:
                                <span class="icon calendar" style="vertical-align:sub; float: right; display: block; margin-top: 0px"></span>
                                <input type="text" value="" name="date_of_birth"
                                    readonly
                                    spellcheck="false" autocorrect="off" autocomplete="off"
                                    style="
                                    	float: right; 
                                    	display: block;
                                    	width: 50%;
                                    	position: static;
                                    	appearance: none;
                                        -moz-appearance: none;
                                        -webkit-appearance: none;
                                        line-height: 1.3em;
                                        margin: 0;
                                        height: 1.6em;
                                        padding: 0;
                                        padding-right: 10px;
                        			"
                                    data-bind="value: date_of_birth" class="step-3-dob">
                            </label>
                        </li>
                        <li class="notice">Confirm your Accession No. (if available)</li>
                    	<li>
    						<label>&nbsp;
    							<input type="text" onkeyup="(event.keyCode === 13) ? app.welcomeStep3Service.viewModel.nextStep() : '';" onclick="app.scrollTo2(event);" class="capitalize" spellcheck="false" autocorrect="off" autocomplete="off" data-bind="value: accession_no" name="accession_no" value="" placeholder="Accession No.">
    						</label>
    					</li>
                        <li class="notice">Postal Code for lookup purposes</li>
                    	<li>
    						<label>&nbsp;
    							<input type="text" onkeyup="(event.keyCode === 13) ? app.welcomeStep3Service.viewModel.nextStep() : '';" onclick="app.scrollTo2(event);" class="capitalize" spellcheck="false" autocorrect="off" autocomplete="off" data-bind="value: postal" name="postal" value="" placeholder="Postal Code">
    						</label>
    					</li>
    				</ul>
                </form>
            </div></div>
            
            <div class="intro-footer">
				<a data-click="app.welcomeStep3Service.viewModel.nextStep" data-role="button" class="btn action-button">Continue</a>
				<a onclick="event.preventDefault();  app.application.navigate('#:back'); return false;" data-role="button" class="btn" style="background:#065D98">Back</a>
			</div>
		</div>
	</div>
</div>