<div id="welcome-step-1-view"
	class="login-bg"
    data-role="view"
    data-show="app.welcomeStep4Service.show"
	data-layout="login-layout">

	<div class="view-content">
		<div class="pad center">
            <div class="fill-content">
                <div class="center-content">
                    <p>Searching...</p>
                    <div class="loading" style="margin: 0 auto;">
                        <div class="outer"></div>
                        <div class="inner"></div>
                    </div>
                    <!-- <img src="img/716.GIF"> -->
                </div>
            </div>
            
            <div class="intro-footer">
				<a href="#views/welcome/step-3.html" data-role="button" class="btn" style="background:#065D98">Back</a>
			</div>
		</div>
	</div>
</div>