<div id="welcome-step-7-view"
	class="login-bg"
    data-role="view"
    data-before-show="app.welcomeStep7Service.beforeShow"
    data-show="app.welcomeStep7Service.show"
    data-model="app.welcomeStep7Service.viewModel"
    data-after-show="app.welcomeStep7Service.afterShow"
	data-layout="login-layout">

	<div class="view-content">
		<div class="pad center">
            <div class="fill-content"><div class="center-content">
                <p class="subtitle" data-bind="html: message"></p>
            </div></div>
                
            <div class="intro-footer">
				<a data-role="button" class="btn" style="background:#065D98; opacity: 0">Continue</a>
				<a ontouchstart="app.welcomeStep1Service.viewModel.goToCategories(); return false;" data-role="button" class="btn action-button">Continue</a>
			</div>
		</div>
	</div>
</div>