<div id="welcome-step-6-view"
	class="login-bg"
    data-role="view"
    data-before-show="app.welcomeStep6Service.beforeShow"
    data-show="app.welcomeStep6Service.show"
    data-model="app.welcomeStep6Service.viewModel"
    data-after-show="app.welcomeStep6Service.afterShow"
	data-layout="login-layout">

	<div class="view-content">
		<div class="pad center">
            <div class="fill-content"><div class="center-content">
                <p class="subtitle">Thank You</p>
                <p class="subtitle">Our Customer Service team will contact you soon.</p>
                
                <div class="intro-footer">
    				<a href="#lifestyle-view" data-role="button" class="btn action-button">Continue</a>
    			</div>
            </div></div>
		</div>
	</div>
</div>