<div id="welcome-step-2-view"
	class="login-bg"
    data-role="view"
    data-before-show="app.welcomeStep2Service.beforeShow"
    data-init="app.welcomeStep2Service.init"
    data-show="app.welcomeStep2Service.show"
    data-model="app.welcomeStep2Service.viewModel"
    data-use-native-scrolling="true"
    data-after-show="app.welcomeStep2Service.afterShow"
	data-layout="login-layout">

	<div class="view-content">
		<div class="pad center">
            <div class="fill-content"><div class="center-content">
                <p>If you have the Accession ID, please enter it below.</p>
                <img src="img/intro/accession-helper.png" onload="app.resizeView('step-2', app.welcomeStep2Service, $('#welcome-step-2-view'));" class="accession-helper"><br>
                <form id="register-form" onsubmit="app.welcomeStep2Service.viewModel.nextStep(); return false;">
    				<ul data-role="listview" data-style="inset" class="blank-labels">
    					<li>
    						<label>&nbsp;
    							<input type="text" onclick="app.scrollTo(event);" class="capitalize" spellcheck="false" autocorrect="off" autocomplete="off" data-bind="value: accession_no" name="accession_no" value="" placeholder="Accession No.">
    						</label>
    					</li>
                    </ul>
                </form>
            </div></div>
            
            <div class="intro-footer">
				<a data-click="app.welcomeStep2Service.viewModel.nextStep" data-role="button" class="btn action-button">Continue</a>
				<a ontouchstart="app.application.navigate('#:back'); return false;" data-role="button" class="btn step-2-back-btn" style="background:#065D98">Back</a>
			</div>
		</div>
	</div>
</div>