<div id="welcome-step-1-view"
	class="login-bg"
    data-role="view"
    data-before-show="app.welcomeStep1Service.beforeShow"
    data-show="app.welcomeStep1Service.show"
    data-model="app.welcomeStep1Service.viewModel"
    data-after-show="app.welcomeStep1Service.afterShow"
	data-layout="login-layout">

	<div class="view-content">
		<div class="pad center">
            <div class="fill-content"><div class="center-content">
                <p class="title">Welcome to Pathway Genomics!</p>
                <p class="title">Have you received a report from us?</p>
            </div></div>
            <div class="intro-footer">
				<a data-click="app.welcomeStep1Service.viewModel.goToStep2" data-role="button" class="btn needsclick absolute-click" style="background:#065D98">Yes</a>
				<a data-click="app.welcomeStep1Service.viewModel.goToCategories" data-role="button" class="btn" style="background:#065D98">No</a>
			</div>
		</div>
	</div>
</div>