<div id="welcome-step-5-view"
	class="login-bg"
    data-role="view"
    data-before-show="app.welcomeStep5Service.beforeShow"
    data-show="app.welcomeStep5Service.show"
    data-model="app.welcomeStep5Service.viewModel"
    data-after-show="app.welcomeStep5Service.afterShow"
	data-layout="login-layout">

	<div class="view-content">
		<div class="pad center">
            <div class="fill-content">
                <div class="center-content">
                    <p class="title">I'm sorry, your report could not be located.</p>
                    <p class="title">May we contact you to locate your report?</p>
                    <form id="register-form" onsubmit="app.welcomeStep5Service.viewModel.nextStep(); return false;">
        				<ul data-role="listview" data-style="inset" class="blank-labels">
        					<li>
        						<label>&nbsp;
        							<input type="email" spellcheck="false" autocorrect="off" autocomplete="off" data-bind="value: email" name="email" value="" placeholder="Email">
        						</label>
        					</li>
        					<li>
        						<label>&nbsp;
        							<input class="capitalize" type="tel" spellcheck="false" autocorrect="off" autocomplete="off" data-bind="value: phone_number" name="phone_number" value="" placeholder="Daytime Phone No. (optional)">
        						</label>
        					</li>
                        </ul>
                    </form>
                </div>
            </div>
            
            <div class="intro-footer">
				<a data-click="app.welcomeStep5Service.viewModel.nextStep" data-role="button" class="btn action-button">Contact Me</a>
				<a data-click="app.welcomeStep1Service.viewModel.goToCategories" data-role="button" class="btn" style="background:#065D98">No Thanks</a>
			</div>
		</div>
	</div>
</div>