<div id="introduction-view"
	class="login-bg"
    data-role="view"
    data-title="Introduction"
    data-before-show="app.introductionService.beforeShow"
    data-show="app.introductionService.show"
    data-init="app.introductionService.init"
    data-hide="app.introductionService.hide"
    data-model="app.introductionService.viewModel"
	data-layout="login-layout">

	<div class="view-content">
		<div class="pad center">
            <div class="intro-scrollview-container">
				
				
                <div class="intro-scrollview" data-role="scrollview"
                    data-source="app.introductionService.viewModel.pages"
                    data-template="introduction-scrollview-template"
                    data-velocity-threshold="0.2"
                    data-content-height="100%"
                    data-enable-pager="true">
                </div>
                <style type="text/css" id="slides-css"></style>
                
                <script id="introduction-scrollview-template" type="text/x-kendo-template">
                    <div>
                        #= data #
                    </div>
                </script>
            </div>
            <div class="intro-footer">
				<a href="#views/account/login.html" zontouchstart="event.preventDefault(); event.stoppropagation(); app.application.navigate('#views/account/login.html'); return false;" data-role="button" class="intro-login absolute-touch needsclick btn" style="background:#065D98">Log In</a>
				<a href="#views/account/register.html" zontouchstart="event.preventDefault(); event.stoppropagation(); app.application.navigate('#views/account/register.html'); return false;" data-role="button" class="intro-get-started absolute-touch needsclick btn" style="background:#065D98">Get Started</a>
			</div>
		</div>
	</div>
</div>