@font-face {
    font-family: "vogel";
    src: url("fonts/Vogel-Normal.woff") format("woff"),
         url("fonts/Vogel-Normal.ttf") format("truetype");
}
@font-face {
    font-family: "icon";
    src: url("fonts/fontello.woff") format("woff"),
		 url("fonts/fontello.ttf") format("truetype");
}

body{
    margin:0;
    padding:0;
}

.icon{
	font-family: "icon";
}