@font-face {
    font-family: "vogel";
    src: url("fonts/Vogel-Normal.woff") format("woff"),
    url("fonts/Vogel-Normal.ttf") format("truetype");
}
@font-face {
    font-family: "icon";
    src: url("fonts/fontello.woff") format("woff"),
    url("fonts/fontello.ttf") format("truetype");
}
.icon {
    font-family: "icon";
}

.km-ios7 .km-view:not([data-use-native-scrolling]) .km-content{
    overflow:hidden !important;
}

#login-view .km-content,
#login-view .km-scroll-container {
    height: 100%;
}
/* 2 Color gradient */
/* 3 Color gradient */
/* 3 Color gradient */
body.km-ios7,
html {
    margin: 0;
    height: 100%;
    width: 100%;
    background-color: #4495d1;
    font-family: "vogel";
}
[data-role="view"] {
    background-color: #4495d1;
}
body {
    height: 100% !important;
    /* override calc(100% + 60px) */
}
input, textarea {
    font-family: "vogel";
}

/* Font Colors */
.error {
    color: #d90000 !important;
}
.headline {
    color: #BA1911 !important;
}
.highlight {
    color: #ec9c22 !important;
}
.title:not(#result-wrapper .title)  {
    color: #2790B0 !important;
}
/* COMMON STYLES*/
.km-header .km-widget.km-navbar {
    background-color: #4495d1;
}
.km-header .km-widget.km-navbar .km-view-title {
    color: #ffffff;
}
h1 {
    font-size: 1.8em;
}
h1.page-header {
    margin-left: 0;
    margin-right: 0;
    border-bottom: 0px;
    line-height: 2em;
    background-color: #4495d1;
    width: 100%;
    box-shadow: 0px 0px 5px #ccc;
}
h3 {
    font-size: 1.1em;
}
p {
    margin: 1em 0;
}
.center {
    text-align: center;
}
.font10 {
    font-size: 1em;
}
.white {
    color: #ffffff;
}

.km-ios7 .km-list.blank-labels input,
.km-ios7 .km-list.blank-labels input[type=text]:not(.k-input),
.km-ios7 .km-list.blank-labels select:not([multiple]),
.km-ios7 .km-list.blank-labels .k-dropdown-wrap,
.km-ios7 .km-list.blank-labels textarea{
    left:.8em;
    width:90%;
}

/* WRAPPER */
/* IMAGE STYLES*/
.img {
    background-image: url(../styles/images/appbuilder.png);
    background-repeat: no-repeat;
    text-align: center;
    width: 320px;
    height: 193px;
    margin: 0px auto;
}
.logo {
    width: 80%;
    padding-top:1.0em;
    margin: 0 auto 0em auto;
	background-image: url(../img/logo-pathway.png);
	background-size: 100%;
	background-repeat: no-repeat;
}
@media screen and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2){
	background-image: url(../img/logo-pathway-small.png);
	background-size: 100%;
}
.km-leftitem {
    left: 0;
}
/* BACK BUTTON */
.km-widget.km-button.km-back {
    padding: 1em;
    background: #4495d1;
    color: #fff;
    position: absolute;
    left: 0;
    top: -2px;
    bottom: 0;
    line-height: 0em;
    border: none;
    margin: 0;
    padding: .85em;
    border-radius: 0;
}
#pathway.km-on-android .km-widget.km-button.km-back {
    top: -5px;
}
.km-widget.km-button.km-back:active{
    color:#ccc;
}

#pathway.km-on-ios .km-back:before {
    font-family: "icon";
    border: none;
    font-size: 24pt;
    box-shadow: none;
    /*background: url(../img/btn-back.png) no-repeat left center;*/
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    content: '\e502';
    vertical-align: -webkit-baseline-middle;
    height: auto;
    width: auto;
}

#pathway.km-on-android .km-back:before {
	color: #ffffff !important;
	-webkit-box-shadow: inset .25rem -0.25rem 0 #ffffff;
}

/*
.km-widget.km-button.km-back:before {
width: .55rem;
height: .55rem;
content: "\a0";
display: inline-block;
vertical-align: middle;
margin-left: -0.2rem;
border-style: solid;
border-width: .24rem .24rem 0 0;
-webkit-transform: rotate(225deg);
-moz-transform: rotate(225deg);
-ms-transform: rotate(225deg);
-o-transform: rotate(225deg);
transform: rotate(225deg);
}
.km-widget.km-button.km-back .km-text {
font-size: 1.0em;
color: transparent;
display: none;
}*/
/* BUTTON STYLES*/
.action-button,
.km-ios7 .km-button.action-button,
.km-ios7 .km-list.km-listview li:hover a.action-button,
.general-button,
.km-ios7 .km-button.general-button,
.km-ios7 .km-list.km-listview li:hover a.general-button {
    /* Old browsers */
    /*background: #87c7f6;*/
    background: #4495d1;
    border-radius: 0px;
    border: 0px solid rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    display: block;
    font-family: Helvetica;
    font-size: 1.2em;
    font-weight: normal;
    letter-spacing: normal;
    outline-color: white;
    outline-style: none;
    outline-width: 0px;
    overflow-x: visible;
    overflow-y: visible;
    text-align: center;
    text-overflow: clip;
    text-transform: none;
    visibility: visible;
    white-space: nowrap;
    word-spacing: 0px;
    z-index: auto;
    padding: .5em .8em;
}
.action-button:active,
.km-ios7 .km-button.action-button:active{
    background:#7BB6E0;
}
.general-button,
.km-ios7 .km-button.general-button,
.km-ios7 .km-list.km-listview li:hover a.general-button {
    color: #444;
    border: 1px solid #ccc;
    background: #a5bb52;
    /* Old browsers */
    background: -moz-linear-gradient(top, #a5bb52 0%, #7c9c1e 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #a5bb52), color-stop(100%, #7c9c1e));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #a5bb52 0%, #7c9c1e 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #a5bb52 0%, #7c9c1e 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #a5bb52 0%, #7c9c1e 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, #a5bb52 0%, #7c9c1e 100%);
    /* W3C */
}
.km-ios7 .km-button {
    /*padding: .5em .8em;*/
    /*margin: 2% auto;*/
    display: inline-block;
    font-size: 1em;
    color: #fff;
    font-weight: normal;
    background: #a5bb52;
    /* Old browsers */
    background: -moz-linear-gradient(top, #a5bb52 0%, #7c9c1e 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #a5bb52), color-stop(100%, #7c9c1e));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #a5bb52 0%, #7c9c1e 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #a5bb52 0%, #7c9c1e 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #a5bb52 0%, #7c9c1e 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, #a5bb52 0%, #7c9c1e 100%);
    /* W3C */
}
/* Tabstrip */
.km-tabstrip .km-button.no-icon .km-icon {
    display: none;
}
.km-tabstrip .km-button.no-icon .km-text {
    padding: 5px 0;
    font-size: 1.5em;
}
.km-tabstrip .km-button.no-icon.km-state-active .km-text {
    font-weight:bold;
}

#pathway .km-loader{
    background: -moz-linear-gradient(-45deg,  rgba(255,255,255,0.95) 0%, rgba(243,243,243,0.98) 50%, rgba(237,237,237,0.98) 51%, rgba(255,255,255,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(255,255,255,0.95)), color-stop(50%,rgba(243,243,243,0.98)), color-stop(51%,rgba(237,237,237,0.98)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg,  rgba(255,255,255,0.95) 0%,rgba(243,243,243,0.98) 50%,rgba(237,237,237,0.98) 51%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg,  rgba(255,255,255,0.95) 0%,rgba(243,243,243,0.98) 50%,rgba(237,237,237,0.98) 51%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg,  rgba(255,255,255,0.95) 0%,rgba(243,243,243,0.98) 50%,rgba(237,237,237,0.98) 51%,rgba(255,255,255,1) 100%); /* IE10+ */
    background: linear-gradient(135deg,  rgba(255,255,255,0.95) 0%,rgba(243,243,243,0.98) 50%,rgba(237,237,237,0.98) 51%,rgba(255,255,255,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    opacity: .95;
}
#pathway .km-loading{
    background:#4495D1;
}
#pathway .km-loading-left, #pathway .km-loading-right{
    background:rgba(68,149,209,0.5)
}
#pathway .km-loader h1{
    color:#4495D1;
	margin: 0;
}

#pathway {
	.km-spin, .km-loading-left, .km-loading-right {
		background: none;
        display: none;
	}
}

/* FORMS */
.form-field {
    margin: 1.5em;
}
.form-field input {
    background: #ffffff;
}
.label {
    vertical-align: middle;
    line-height: 1.5em;
}
.input,
.km-ios7 .km-list .input,
.select {
    border: none;
    background-color: #ffffff;
    color: #333;
    padding: 0.5em;
    font-size: 1.0em;
    text-align: left;
    display: block;
    margin: 0.28em 0;
    border: 0px solid #fff;
    line-height: normal;
    width: 100%;
    border-radius: 0px;
    -webkit-border-radius: 0px;
}
.input:focus,
.km-ios7 .km-list .input:focus,
.select:focus,
.km-root .select:focus {
    border: 0px;
}

.km-navbar {
	.km-rightitem {
		right: 0;
		padding-right: .5em;
		padding-left: .5em;
	}
}

.input.search {
    outline: none;
    border-radius: 0px;
    -webkit-border-radius: 0px;
}
.input[type="checkbox"] {
    vertical-align: middle;
    display: inline-block;
    width: auto;
    margin: 0.2em;
    padding: 0;
}
/* DEVICE SPECIFIC STYLES*/
.km-ios7 .km-list > li {
    box-shadow: none;
}
.km-ios7 .km-list > li {
    background: none;
}
/* Footer NavBar */
div.km-footer[data-role="footer"] {
    background: #222;
}
div.km-footer[data-role="footer"] .km-widget.km-tabstrip {
    background: #222;
    color: #FFCC66;
}
div.km-footer[data-role="footer"] .km-widget.km-tabstrip .km-button:not(.km-state-active) {
    color: #ddd;
}
.km-widget.km-tabstrip {
    border-bottom: 3px solid #FFF;
    background: #E0E0E0;
}
/*
.km-ios7 .km-loader,
.km-ios7 .km-rowinsert,
.km-ios7 .km-state-active,
.km-ios7 .km-scroller-pull,
.km-ios7 .k-slider-selection,
.km-ios7 .km-touch-scrollbar,
.km-ios7 .km-pages .km-current-page,
.km-ios7 .k-slider .k-draghandle,
.km-ios7 .k-slider .k-draghandle:hover,
.km-ios7 .km-tabstrip .km-state-active,
.km-ios7 .km-scroller-refresh.km-load-more,
.km-ios7 .km-popup .k-state-hover,
.km-ios7 .km-popup .k-state-focused,
.km-ios7 .km-popup .k-state-selected,
.km-ios7 .km-actionsheet > li > a:active,
.km-ios7 .km-actionsheet > li > a:hover,
.km-ios7 li.km-state-active .km-listview-link,
.km-ios7 li.km-state-active .km-listview-label,
.km-ios7 .km-listview-label input[type=radio]:checked,
.km-ios7 .km-listview-label input[type=checkbox]:checked
*/
.km-ios7 .km-tabstrip .km-state-active {
    color: #4495D1;
    background: #ffffff;
    border-top: 3px solid #E0E0E0;
    border-left: 3px solid #E0E0E0;
    border-right: 3px solid #E0E0E0;
    margin: 5px!important;
    border-radius: 8px 8px 0 0;
    -webkit-border-radius: 8px 8px 0 0;
    -moz-border-radius-topleft: 8px;
    -moz-border-radius-topright: 8px;
    -moz-border-radius-bottomright: 0px;
    -moz-border-radius-bottomleft: 0px;
}
.km-ios7 .km-tabstrip .km-button:not(.km-state-active) {
    color: #666;
}
.km-ios7 .km-content {
    /*background-image: url(../img/login-bg.jpg);
    background-size: cover;*/
    background: #ffffff;
    color: #333;
}
/*
.km-ios7 .km-content.km-scroll-wrapper{
color:#fff;
}
*/
.login-bg .km-content {
    background-size: cover;
    background: #7ae0b3;
    /* Old browsers */
    background: -moz-linear-gradient(-45deg, #7ae0b3 0%, #73abde 50%, #2353df 100%) !important;
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #7ae0b3), color-stop(50%, #73abde), color-stop(100%, #2353df)) !important;
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg, #7ae0b3 0%, #73abde 50%, #2353df 100%) !important;
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg, #7ae0b3 0%, #73abde 50%, #2353df 100%) !important;
    /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg, #7ae0b3 0%, #73abde 50%, #2353df 100%) !important;
    /* IE10+ */
    background: linear-gradient(135deg, #7ae0b3 0%, #73abde 50%, #2353df 100%) !important;
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7ae0b3', endColorstr='#2353df', GradientType=1) !important;
    /* IE6-9 fallback on horizontal gradient */
    color: #ffffff;
}
.login-bg .km-content a {
    color: #ffffff!important;
}
.login-bg .login-footer {
    margin: 0 auto;
    text-align: center;
    padding: 1.5em 2em 2em 2em;
    /*background: rgba(0, 0, 0, 0.5);*/
    width: 100%;
    /*position: fixed;
    bottom: 0;*/
    color: #fff;
}


.km-content a {
    color: #79bf51;
    text-decoration: none;
}
.km-listview-wrapper + *:not(.km-listview-wrapper) {
    margin-top: 0em;
}
.km-ios7,
.km-ios7 .km-navbar {
    color: #4c5356;
    background: #fff;
}
.km-list,
.km-listview {
    background: #fff;
}

.km-ios7 .form-field.checkbox {
    margin: 0 1.5em;
    margin-top: -1em;
    margin-bottom: 0.5em;

    .km-list,
    .km-listview {
        background: transparent;
		&> li {
        	background: transparent;
			color: #fff;

			&:last-child {
                box-shadow: none;
                -webkit-box-shadow: none;
			}

			> label {
                text-align: left;
                padding-left: 2.5em;
			}

			input[type="checkbox"] {
				position: absolute;
				left: 5px;
				float: left;
                background-color: white;
                padding: 3px;
                width: 22px;
                text-align: center;
                height: 22px;
                margin-left: 0px;
                margin-top: -12px;
				font-size: 1.2em;
			}
		}
    }
}

.km-ios7 .km-list > li {
    border: 0;
    border-bottom: 1px solid #EEEEEE;
    color: #333;
    background: #fff;
}
.km-ios7 .km-list > li a {
    color: #000;
}
.km-list.km-listview li:hover .prodthumb a {
    background: transparent;
}
/*
.km-list,
.km-listview li.km-state-active .km-listview-link,
.km-list.km-listview li:hover a,
.km-ios7 .km-list > li:hover {
background: #fff; /*#ccc*
}
*/
/* RETINA DISPLAY STYLES*/
@media only screen and (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .img {
        background-image: url(../styles/images/appbuilder2x.png);
        background-repeat: no-repeat;
        background-size: 90%;
    }
}
/* 2 Color gradient */
/* 3 Color gradient */
/* 3 Color gradient */
dl {
    width: 90%;
}
dt {
    font-weight: bold;
    font-size: 16px;
    display: inline-block;
    text-align: right;
    padding-right: 10px;
    width: 25%;
    margin-bottom: 10px;
}
dd {
    font-size: 16px;
    width: 60%;
    display: inline-block;
    margin: 0px;
    margin-bottom: 10px;
}
div.mblTabBarTabBar.transparent {
    background-image: none;
    background-color: transparent;
    border: none;
    border-width: 0;
    padding: 0;
}
.gradient_days {
    background: #efefef;
    /* Old browsers */
    background: -moz-linear-gradient(top, #efefef 9%, #ffffff 55%, #ffffff 78%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(9%, #efefef), color-stop(55%, #ffffff), color-stop(78%, #ffffff));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #efefef 9%, #ffffff 55%, #ffffff 78%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #efefef 9%, #ffffff 55%, #ffffff 78%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #efefef 9%, #ffffff 55%, #ffffff 78%);
    /* IE10+ */
    background: linear-gradient(to bottom, #efefef 9%, #ffffff 55%, #ffffff 78%);
    /* W3C */
}
.mobile body,
.dj_ios6.dj_phone body {
    background-color: #A5BB52;
    height: 100%;
}
.error {
    color: darkred;
    text-align: center;
    font-weight: 900;
}
.margin_center {
    margin-left: auto;
    margin-right: auto;
}
.page-header {
    color: white;
    display: block;
    font-family: Helvetica;
    font-size: 1.3em;
    font-weight: bold;
    height: 2em;
    line-height: 2em;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    overflow-x: hidden;
    overflow-y: hidden;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    position: relative;
    text-align: center;
    text-overflow: ellipsis;
    text-shadow: rgba(0, 0, 0, 0.597656) 0px -1px 0px;
    visibility: visible;
    white-space: nowrap;
    z-index: 1;
    margin: 0 auto;
}
.page-subheader {
    margin-top: 5px;
    background: #7c990f;
    /* Old browsers */
    background: -moz-linear-gradient(top, #7c990f 0%, #7c990f 80%, #5e7006 95%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7c990f), color-stop(80%, #7c990f), color-stop(95%, #5e7006));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #7c990f 0%, #7c990f 80%, #5e7006 95%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #7c990f 0%, #7c990f 80%, #5e7006 95%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #7c990f 0%, #7c990f 80%, #5e7006 95%);
    /* IE10+ */
    background: linear-gradient(to bottom, #7c990f 0%, #7c990f 80%, #5e7006 95%);
    /* W3C */
    height: 35px;
    background-repeat: repeat;
    line-height: 35px;
    overflow: hidden;
}
.menu-btn::before {
    content: '\e500';
}
.menu-btn {
    /*background: url(../img/i-menu.png) no-repeat center center;*/
    margin-right: -0.2em;
    font-size: 20pt;
    padding: 2px 6px 2px;
}
.header-menu {
    position: absolute;
    top: -500px;
    z-index: 1000;
    right: 0;
    font-size: 1.1em;
    /*.8*/
}
.header-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    /*margin-top: .7em;*/
}
.header-menu li {
    color: #222;
    background: #ffffff;
    box-shadow: 0px 2px 5px #666;
    border-bottom: 1px solid #eee;
}
.header-menu li:hover {
    color: #ffffff!important;
    background: #4495d1;
}
.header-menu li a {
    display: block;
    padding: 0.8em;
    text-decoration: none;
}
.header-menu li a:hover,
.header-menu li:hover a.active {
    color: #ffffff;
}
.header-menu li a.active {
    color: #4495d1;
}
.btn,
.btn-small,
.btn-medium,
.btn-large,
.btn-medium2 {
    /* Old browsers */
    background: #79bf51;
    border-radius: 0px;
    border: 0px solid rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    display: block;
    float: left;
    font-family: Helvetica;
    font-size: 1.2em;
    font-weight: normal;
    height: 36px;
    letter-spacing: normal;
    line-height: 25px;
    margin-bottom: 0px;
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 6px;
    outline-color: white;
    outline-style: none;
    outline-width: 0px;
    overflow-x: visible;
    overflow-y: visible;
    padding-bottom: 0px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    position: relative;
    text-align: center;
    text-overflow: clip;
    text-transform: none;
    visibility: visible;
    white-space: nowrap;
    word-spacing: 0px;
    z-index: auto;
}
.btn:active{
    background: #6DAA49;
}
.btn.large {
    width: 150px;
}
.btn-group {
    margin-left: 14px;
}
#pathway .btn-popup {
    background: #999;
    font-size: 1em;
    width: 80%;
    margin: .5em 1.5em;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
}
#notice-modal .btn-popup {
    background: #4495d1;
}
#pathway .btn-popup-half {
    width:35%;
    margin:.5em;
    text-align:center;
}
.settings {
    background-image: url(../images/i_setting.png);
    background-size: 24px;
    width: 24px;
    height: 25px;
    margin-left: 3px;
    margin-top: 0px;
    background-position-y: -1px;
    background-repeat: no-repeat;
}
.clear {
    clear: left;
    height: 0px;
    line-height: 0px;
    font-size: 0px;
}
.display-box {
    background-color: white;
    border-bottom-color: #9CACC0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-style: inset;
    border-bottom-width: 1px;
    border-left-color: #9CACC0;
    border-left-style: inset;
    border-left-width: 1px;
    border-right-color: #9CACC0;
    border-right-style: inset;
    border-right-width: 1px;
    border-top-color: #9CACC0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-top-style: inset;
    border-top-width: 1px;
    box-shadow: #999 0px 1px 2px 0px inset;
    color: #333;
    display: block;
    font-family: Helvetica;
    font-size: 14px;
    /*12px*/
    height: 29px;
    margin-bottom: 7px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    min-height: 0px;
    overflow-x: visible;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    position: relative;
    visibility: visible;
    /*width: 286px;*/
    width: 90%;
}
.display-box .box {
    height: 12px;
    padding: 9px;
    line-height: 9px;
}
.display-box .box .key {
    width: 188px;
    float: left;
    font-weight: 900;
}
.display-box .box .value {
    width: 62px;
    float: left;
    text-align: right;
}
.display-box .arrow {
    position: absolute;
    right: 9px;
    top: 50%;
    margin-top: -6px;
    width: 6.5px;
    height: 12.5px;
    background-image: url(../images/arrow_orange_right.png);
    background-size: 6.5px;
    background-repeat: no-repeat;
}
.display-box.double {
    height: 60px;
}
.display-box.triple {
    height: 90px;
}
.display-box input.integrated,
.display-box textarea.integrated {
    border: none;
    box-sizing: border-box;
    width: 100%;
    font-family: Helvetica;
    font-size: 14px;
    /*12px*/
}
.display-box input.integrated:focus,
.display-box textarea.integrated:focus {
    outline: none;
}
.display-input,
.display-textarea {
    background-color: white;
    border-bottom-color: #9CACC0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-style: inset;
    border-bottom-width: 1px;
    border-left-color: #9CACC0;
    border-left-style: inset;
    border-left-width: 1px;
    border-right-color: #9CACC0;
    border-right-style: inset;
    border-right-width: 1px;
    border-top-color: #9CACC0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-top-style: inset;
    border-top-width: 1px;
    box-shadow: #999 0px 1px 2px 0px inset;
    color: black;
    cursor: auto;
    display: block;
    font-family: Helvetica;
    font-size: 14px;
    /*12px*/
    height: 11px;
    letter-spacing: normal;
    line-height: normal;
    margin-bottom: 7px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    min-height: 0px;
    overflow-x: visible;
    padding-bottom: 9px;
    padding-left: 9px;
    padding-right: 9px;
    padding-top: 9px;
    text-align: -webkit-auto;
    text-indent: 0px;
    text-shadow: none;
    text-transform: none;
    visibility: visible;
    /*width: 268px;*/
    width: 90%;
    word-spacing: 0px;
}
.display-textarea {
    height: 75px;
}
#includes {
    display: none;
}
.right {
    float: right;
}
.left {
    float: left;
}
.clear {
    clear: both;
}
/* Writeover */
.mblListItemRightIcon,
.mblListItemRightIcon2,
.mblListItemUncheckIcon {
    margin-top: 9px;
}
.mblRoundRectCategory {
    color: #000;
}
.form-label {
    width: 25%;
    float: left;
    font-weight: 900;
}
.form-input.display-input {
    width: 60%;
    float: right;
}
.mblButton {
    background: #5f8500;
    /* Old browsers */
    background: -moz-linear-gradient(top, #5f8500 50%, #8ead13 50%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #5f8500), color-stop(50%, #8ead13));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #5f8500 50%, #8ead13 50%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #5f8500 50%, #8ead13 50%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #5f8500 50%, #8ead13 50%);
    /* IE10+ */
    background: linear-gradient(to bottom, #5f8500 50%, #8ead13 50%);
    /* W3C */
    border-radius: 15px;
    border: rgba(141, 167, 37, 0.5) 2px outset;
    color: #fff;
    line-height: 25px;
    text-shadow: rgba(0, 0, 0, 0.6) 0px 1px 0px;
}
.mblHeading {
    background: #8ba726;
    /* Old browsers */
    background: -moz-linear-gradient(top, #8ba726 25%, #96b02d 50%, #9eb835 50%, #9eb934 75%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(25%, #8ba726), color-stop(50%, #96b02d), color-stop(50%, #9eb835), color-stop(75%, #9eb934));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #8ba726 25%, #96b02d 50%, #9eb835 50%, #9eb934 75%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #8ba726 25%, #96b02d 50%, #9eb835 50%, #9eb934 75%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #8ba726 25%, #96b02d 50%, #9eb835 50%, #9eb934 75%);
    /* IE10+ */
    background: linear-gradient(to bottom, #8ba726 25%, #96b02d 50%, #9eb835 50%, #9eb934 75%);
    /* W3C */
    border-bottom: 1px solid #7A9129;
}
.mblTabBarTabBar .add-event {
    float: right;
    margin-right: 8px;
}
.mblTabBarTabBar .settings-wrapper {
    margin-left: 8px;
}
.mblTabBarTabBar .btn-large.btn-group {
    float: left;
}
.header-menu .km-listview-link::after {
    display: none;
}
.desktop {
    display: none;
}
.tiles-container {
    width: 100%;
    border: .1em solid #fff;
    font-size: 0;
}
.tiles-container .tile-wrapper {
    font-size: 16px;
    display:inline-block;
    width:100%;
}
/*
.tiles-container .tile-wrapper .icon {
-webkit-tap-highlight-color: rgba(0,0,0, .5);
-webkit-tap-highlight-color: transparent; For some Androids
} */
.tiles-container .icon.check-mark {
    font-size: 17px;
    position: absolute;
    top: .3em;
    right: .3em;
    color: #83BC41;
    line-height: 17px;
    background: #ffffff;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border: 3px solid #FFF;
}
.tiles-container ul.km-list {
    margin: 0;
    list-style-type: none;
}
.tiles-container .km-list li {
    display: inline-block;
    vertical-align:top;
    padding: 0!important;
    margin:0!important;
    width: 49.99%;		/* 50% is too much for Android apparently... */
    position: relative;
}

.tiles-container li .link,
.tiles-container .km-list li .link,
.tiles-container .km-list li:hover .link {
    font-size: .8em;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    width: 100%;
    height: 12em;
    display: block;
    margin: 0!important;
    border: .1em solid #fff;
    padding:10px 5px 0;
    /*background-image: url(../img/sprite-tile-categories.png);
    background-position: center 0;
    background-repeat: no-repeat;
    -webkit-tap-highlight-color: red;*/
}
.tiles-container .km-list li:hover .link:active, .accordion li .k-link:active .icon, .accordion li .k-link:active .name{
    text-shadow: 0 0 10px #333;
}
.tiles-container .tested {
    width: 21px;
    height: 21px;
    display: inline-block;
    position: absolute;
    top: 5px;
    right: 2px;
    background-image: url(../img/i-tested-white-border2.png);
    background-repeat: no-repeat;
    background-size: 85%;
}
.tiles-container a {
    /*padding: 8.5em 1em 0em 1em;*/
    width: 100%;
    height: 100%;
    display: block;
}
.tiles-container .icon {
    font-size: 90px;
    line-height: 90px;
    font-weight: normal;
    /*display: inline-block;
    padding-top: 0.1em;
    icon move down*/
}
.tile-text {
    padding: 0 .1em;
    display: table-cell; /* center text and vertical middle alignment */
    vertical-align: middle;
    height: 4em;
    margin: 0 auto;
    text-align: center;
    width: 1%;
}

.accordion {
    border-width: 0;
}
.accordion .k-item {
    color: #ffffff;
    /*background-position: 0px 11px;
    background-image: url(../img/sprite-categories-list.png);
    background-repeat: no-repeat;*/
}
.accordion .icon {
    font-size: 2em;
    vertical-align: sub;
    padding: .2em 0;
    display: inline-block;
    vertical-align: middle;
}
.accordion .name {
    padding: .2em .1em .2em .5em;
    font-size: 1.2em;
    line-height: 1.2em;
    width: 80%;
    display: inline-block;
    vertical-align: middle;
    /*my results title height*/
}
/*
.accordion .health-conditions {
background-color:#c23535;
background-position: 0px 10px;
}
.accordion .mental-health{
background-color:#c23535;
background-position: 0px -33px;
}
.accordion .diet{
background-color:#2e8ba8;
background-position: 0px -66px;
}
.accordion .family{
background-color:#535453;
background-position: 0px -99px;
}
.accordion .life-expectancy{
background-color:#7a9f3e;
background-position: 0px -132px;
}
.accordion .strength{
background-color:#7a9f3e;
background-position: 0px -164px;
}
*/
.accordion ul {
    background-color: #ccc;
    color: #fff;
    /*line at the bottom of accordion*/
}
.accordion li {
    font-size: 1.1em;
    /*my results title font size*/
}
.accordion ul.phenotype-list.k-group .k-link {
    color: #333333;
    padding: .4em 1em;
	padding-right: 3em;
    line-height: 1.2em;
    border-bottom: 1px solid #DDD;
    border-top: 1px solid #FFF;
    background: #f5f5f5;
    /* Old browsers */
    background: -moz-linear-gradient(top, #f5f5f5 0%, #f9f9f9 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f5f5f5), color-stop(100%, #f9f9f9));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #f5f5f5 0%, #f9f9f9 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #f5f5f5 0%, #f9f9f9 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #f5f5f5 0%, #f9f9f9 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, #f5f5f5 0%, #f9f9f9 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5', endColorstr='#f9f9f9', GradientType=0);
    /* IE6-9 */
}

.scrolling {
	.accordion ul.phenotype-list.k-group .k-link:active {
		background: #f5f5f5;
		background: -moz-linear-gradient(top, #f5f5f5 0%, #f9f9f9 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f5f5f5), color-stop(100%, #f9f9f9));
		background: -webkit-linear-gradient(top, #f5f5f5 0%, #f9f9f9 100%);
		background: -o-linear-gradient(top, #f5f5f5 0%, #f9f9f9 100%);
		background: -ms-linear-gradient(top, #f5f5f5 0%, #f9f9f9 100%);
		background: linear-gradient(to bottom, #f5f5f5 0%, #f9f9f9 100%);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5', endColorstr='#f9f9f9', GradientType=0);
	}
}

.accordion ul.phenotype-list.k-group .k-link:active {
    background: #D5D5D5;
}

.accordion ul.phenotype-list p {
    margin: 0;
    padding: .8em 0;
    /*my results sub level height*/
    line-height: normal;
}
.accordion-outcome {
    font-size: .7em;
    display: block;
    color: #4495D1;
    background-size: 1.2em;
}
/* Not sure why I need to add this fix for modals. If not, the modals are tiny. */
/*#pathway .km-modalview-root .k-animation-container {
    width: 85%;
    height: 50%;
}
#pathway .km-modalview-root .km-modalview-wrapper {
    width: 100%;
    height: 100%;
}*/




#pathway .km-modalview-root .km-navbar{
    padding-top:0;
}
#pathway .km-modalview-root .km-view-title{
    line-height:1.2em;
    padding:.5em 1.5em;
}
#pathway .km-modalview .btn-popup:active, #pathway .km-modalview .btn-popup.active{
    opacity:.8;
}

.modal div{
    display: none;
}

.km-modalview-wrapper .modal div{
    display:block;
}

#pathway .error-modal-wrapper {
    border-color: #d14444;
}
#error-modal .km-header .km-navbar {
    background-color: #d14444;
}
#error-modal .btn-popup {
    background: #d14444;
    /*red:#D14444;*/
}
#pathway .success-modal-wrapper {
    border-color: #67AC3F;
}
#success-modal .km-header .km-navbar {
    background-color: #79BF51;
}
#success-modal .btn-popup {
    background: #79BF51;
}

#pathway .km-modalview .km-footer .km-button {
    padding: .4em;
    margin:0;
    line-height: normal;
}
#pathway .km-modalview .content {
    padding: 1em;
    padding-bottom:0;
    /*font-size:1.1em;*/
    line-height: 1.3em;
}
.no-results {
    text-align: center;
    margin-top: 30%;
}
.no-results .btn{
    color:#fff;
    float:none;
    margin:0 2.5em;
}
#page-results {
	.no-results {
	    margin-top: 1em;
	    margin-bottom: 1em;
	}
}
.icon.calendar::before {
    content: '\e501';
    font-size: 25px;
}
#pathway footer.footer-btn {
    box-shadow: 0px -2px 5px #cccccc;
    background: #fff;
    padding: .7em 3em;
}
#pathway footer.footer-btn .action-button {
    color: #fff;
}
/* Survey */
#survey h1 {
    color: #444;
    text-shadow: 0 1px 0 #fff;
    font-size: 1.5em;
    margin: 0;
    padding: .5rem 1rem;
    box-shadow: 0px 3px 5px #ccc;
    position: relative;
    background: #f6f6f6;
}

#survey h2,  #associate_report h2 {
    color: #4495D1;
    font-size: 1.2em;
    background-color: #daeaf6;
    margin: 0;
    padding: .5rem 1rem;
    background-clip: initial;
}

#survey h3 {
    font-size: 1.1em;
}

#survey .h2-pad {
    padding: .5rem 1rem;
}

#survey blockquote {
    font-style: italic;
    border: 1px solid #ccc;
    background: #f6f6f6;
    text-shadow: 0 1px 0 #fff;
    padding: .5em;
	margin: 1.5em;
}

#survey .text,
#pathway .text {
    font-size: 1.1rem;
    position: relative;
    background: #f0f0f0;
    /*border-bottom:1px solid #999; */
    padding: .5em;
    border: none;
}
#pathway .text.feet,
#pathway .text.inches,
#pathway .text.datepicker,
#pathway .text.pounds {
    margin-right: .5em;
}

#pathway .text {
    width: 50%;
    margin-top: .1em;
    margin-right: 0;
}

#pathway .text.control-text {
    width: 70%;
}
#pathway .control-input {
    display:inline-block;
    width:68%;
}

.margin {
    margin: 0 1rem 1rem 1rem;
}
#survey .textarea {
    width: 96%;
}
#survey-form{
    margin-bottom:15px;
}

#survey-form input[disabled]{
    color:#aaa;
}


#pathway .results-count {
	line-height: 1.3em;
    font-size: .8em;
    padding: .1em 0.4em;
    border: 1px solid #333;
    position: absolute;
    top: 1.2em;
    right: 1em;
    height: 1.5em;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=70);
    opacity: 0.7;
    -moz-opacity: 0.7;
    -khtml-opacity: 0.7;
}

#pathway .buttons{
    text-align:center;
}

#pathway .eula-modal-wrapper-wrapper .content{
    font-size:.8em
}
#pathway .eula-modal-wrapper-wrapper h2, #pathway .eula-modal-wrapper-wrapper h3{
    margin:0;
}
#pathway .eula-modal-wrapper-wrapper .k-animation-container{
    height:75% !important;
}

#pathway > div.km-shim.km-modalview-root.eula-modal-wrapper-wrapper.k-state-border-down > div {
    height:85% !important;
    width:95% !important;
}


#pathway .eula-modal-wrapper-wrapper .close,
#pathway #reports-preview-modal .close,
#pathway #warning-modal .close
{
    position:absolute;
    top:-1px;
    right:-1px;
    padding:0 20px;
    cursor:pointer;
    color:#fff;
    font-size:1.4em;
    display:none;
	line-height: 2em;
}
#pathway .eula-modal-wrapper-wrapper .closeable .close, 
#pathway #reports-preview-modal .closeable .close, 
#pathway #warning-modal.closeable .close
{
    display:block;
}
#pathway .eula-modal-wrapper-wrapper .closeable .buttons
{
    display:none;
}

#pathway #warning-modal {
	.km-header .km-widget.km-navbar, .btn-popup {
		background-color: #fd9702;
	}

	&.high-risk {
		.km-header .km-widget.km-navbar, .btn-popup {
			background-color: #ff6666;
		}
	}
}

a.terms-link{
    display:block;
    margin-top:.5em;
    padding:1em;
    text-align:center;
    color:#4495d1;
    text-decoration:underline;
    cursor:pointer;
	&:active {
		color: blue;
	}
}

.datepicker-wrapper{
    position:relative;
}

.datepicker-wrapper .click-handler{
    position:absolute;
    top:0;
    left:0;
    z-index:99;
    width:100%;
    height:100%;
}

@media only screen and (max-height: 480px) {
    .logo {
        margin: 0 auto;
    }
}

@media screen and (orientation: landscape) {
    #pathway.km-on-ios .logo {
        background-size: 55%;
    }
}

@media (min-width: 1024px) {
    .display-box {
        width: 45%;
    }
    .header {
        background: #000;
    }
    .header ul {
        margin: 0;
    }
    .header ul li {
        display: inline-block;
        list-style: none;
        padding: 10px;
    }
    .desktop {
        display: block;
    }
    .form-label {
        text-align: right;
    }
    .mblFixedBottomBar {
        display: none;
    }
    .mblTabBarTabBar .btn-large.btn-group {
        float: none;
        margin: 0 auto;
        width: 25%;
        margin-top: 6px;
    }
}

#associated-reports {
    list-style: none;
    display: block;
    border: 1px solid #4495d1;
    background-color: #fcfcfc;
    margin: 0.5em;
    border-radius: 5px;
    -webkit-border-radius: 5px;
}

#associated-reports li {
    margin-left: -2.7em;
    padding: .5em .5em .5em 1.2em;
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #dddddd;
    line-height: normal;
    position:relative;
}

#associated-reports li:first-child {
    border-top:none;
}
#associated-reports li:last-child {
    border-bottom: none;
}

#associated-reports {
	.remove {
	    font-size:1.4em;
	    line-height:1.45em;
	    color:red;
	    display:block;
	    position:absolute;
	    right:0;
	    top:0;
	    cursor:pointer;
	    padding:.1em .4em;
	}
}
#associated-reports .remove:active{
    text-shadow: 0 0 2px #666;
}

.km-content.km-widget.km-native-scroller {
    overflow: auto;
}

#login-form{
    border: 1px solid #b9e1fc !important;
    margin: 0 1.5em;
    padding:1em 0;
}

#login-form .action-button, .good-action-button {
    background:#79BF51;
    margin: 0 1.5em;
}

.good-action-button, a.good-action-button {
	color: #fff;
}

.register.action-button.km-widget.km-button {
    background: #79BF51;
    margin: 0 1.5em;
}


.login-footer .btn{
    width: 100%;

}

.login-footer{
    padding:.5em 3em!important;
    margin:10px 0 0 0!important;

}



#agreement{
    position: fixed!important;
    bottom: 20px!important;
    z-index: 999;
    width:100%;
}

.icon.remove{
    font-size:30px!important;
    margin-top:-8px;
}

table.radio, table.checkbox {
    width:100%!important;
    border-collapse: collapse;
}

table.radio td, table.checkbox td{
    padding:10px 5px!important;
    border-bottom: 1px solid #ccc!important;
}

#result-wrapper * {
    -webkit-background-clip: initial!important;
    background-clip: initial!important;
}

.km-view:not(.km-modalview) span[data-role=view-title] {
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: block;
    width: 61%;
    margin: 0 auto;
}

.version {
    text-align: right;
    color: silver;
    display: block;
    padding: 1em;
    font-size: small;
}

#introduction-view {
    .intro-scrollview-container {
		p {
			color: white;
			margin: 0;
			padding: 0.5em 2em;
			white-space: normal;
            &.title {
                font-size: 1.5em;
            }
		}
        .intro-scrollview {
            > div {
                display: block;
                background-clip: border-box;
            }
        }
    	.km-pages {
    		text-align: right;
    		padding-right: 2.6em;
    		li {
        		background-color: rgba(0,0,0,0.15);
        		color: transparent;
    			&.km-current-page {
        			background-color: white;
    				color: white;
    			}
    		}
    	}

    }
    .page-1,
    .page-2,
    .page-3,
    .page-4 {
    	height: 100%;
    }
}

#pathway.km-ios7 {
    #welcome-step-1-view,
    #welcome-step-2-view,
    #welcome-step-3-view,
    #welcome-step-4-view,
    #welcome-step-5-view,
    #welcome-step-6-view,
    #welcome-step-7-view
    {
        .km-button, .action-button {
            font-size: 1.2em;
            padding: 0em .8em;
            line-height: 36px;
        }

    	.action-button {
        	background:#79BF51;
    	}

        .km-list {
            background: transparent;
            > li.notice {
                padding: 0;
                background: transparent;
                background-image: none;
                background-color: transparent;
                border-bottom: none;
                color: #fff;
                border: none;
                font-size: 0.9em;
                text-align: left;
                margin-top: 1em;
            }
        }
    }
}

#pathway .km-button {
	border-radius: 0;
	&.k-state-active {
		background-color: #007aff;
		color: #ffffff;
	}
}

.intro-footer {
	text-align: center;
	padding: 1em;
	.btn {
		display: block;
		width: 90%;
		margin: 0 auto;
		float: none;
		margin-bottom: 1em;
		border: none;
		&:last-child { margin-bottom: 0; }
	}
}

#register-view {
	li.date-of-birth-cont {
		background: transparent;
		overflow: visible;
		height: 2.75em;
	}
	li.accession-no-cont {
		overflow: visible;
		background: transparent;
		.already-have {
			text-align: center;
			margin: 0 auto;
			margin-top: -1.5em;
			padding: 0.25em;
			display: block;
			width: auto;
			background-color: white;
            width: 61%;
            font-size: 0.85em;
		}
	}
}

.fill-content p.title, .fill-content p.subtitle {
    font-size: 2.5em;
    color: white;
    width: 75%;
    margin: 1em auto;
}

.fill-content p.subtitle {
    font-size: 2.0em;
    width: 80%;
}

.fill-content {
    overflow: hidden;
    form {
        width: 82%;
        margin: 0 auto;
    }
    p {
        color: #fff;
        font-size: 1.5em;
    }
}

#welcome-step-5-view {
    .fill-content {
        p.title {
            font-size: 2.2em;
        }
    }
}

.default-app-intro-slide {
    overflow:hidden;
    font-family:Helvetica,Arial,sans-serif;
    font-size:.8rem;
    color:#FFF;
    margin:0;
    padding:0;
    text-align: center;

    img.default-intro-slide-main-image {
        display:block;
        width: 65%;
        margin: 0 auto;
        padding:0;
    }
    div.default-container {
        text-align:center;
        margin:0;
        padding:0;
    }
}

.km-virtual-page {
    > * {
        white-space: normal;
    }
}


.privacy > .km-content {
    .content {
		padding: 0.5em;
	}
	blockquote {
		margin: 1%;
	}
	.lst-kix_list_2-0>li:before
	{
		content:"-  ";
	}

	.c1
	{
		padding-left:0;
		line-height:1.0;
		padding-top:0;
		widows:2;
		orphans:2;
		direction:ltr;
		margin-left:1.5em;
		padding-bottom:0;
	}

	.c21
	{
		padding-left:0;
		line-height:1.0;
		padding-top:0;
		padding-bottom:0;
	}

	.c2
	{
		font-size:9pt;
		font-family:Verdana;
		font-weight:400;
	}

	.c8
	{
		line-height:1.0;
		padding-top:5pt;
		padding-bottom:13.5pt;
	}

	.c9
	{
		line-height:1.0;
		padding-top:0;
		padding-bottom:13.5pt;
	}

	.c0
	{
		max-width:414pt;
		background-color:#fff;
		padding:72pt 108pt 72pt 90pt;
	}

	.c12
	{
		line-height:1.0;
		padding-top:0;
		padding-bottom:12pt;
	}

	.c3
	{
		widows:2;
		orphans:2;
		direction:ltr;
	}

	.c25
	{
		line-height:1.0;
		padding-top:0;
	}

	.c18
	{
		color:inherit;
		text-decoration:inherit;
	}

	.c4
	{
		font-size:9pt;
		font-family:Verdana;
	}

	.c24
	{
		font-size:11pt;
	}

	.c22
	{
		font-size:14pt;
	}

	.c17
	{
		page-break-after:avoid;
	}

	.c14
	{
		color:#00f;
	}

	.c23
	{
		padding-bottom:6pt;
	}

	.c6
	{
		font-weight:700;
	}

	.c11
	{
		font-family:Verdana;
	}

	.c15
	{
		font-size:8pt;
	}

	.c5
	{
		height:12pt;
	}

	.c7
	{
		color:#333;
	}

	.c20
	{
		margin-left:18pt;
	}

	.c10
	{
		text-decoration:underline;
	}

	.c19
	{
		color:#00b050;
	}

	.c13
	{
		font-size:10pt;
	}

	.title
	{
		widows:2;
		padding-top:24pt;
		line-height:1.0;
		orphans:2;
		text-align:left;
		color:#000;
		font-size:36pt;
		font-family:Cambria;
		font-weight:700;
		padding-bottom:6pt;
		page-break-after:avoid;
	}

	.subtitle
	{
		widows:2;
		padding-top:18pt;
		line-height:1.0;
		orphans:2;
		text-align:left;
		color:#666;
		font-style:italic;
		font-size:24pt;
		font-family:Georgia;
		padding-bottom:4pt;
		page-break-after:avoid;
	}

	li
	{
		color:#000;
		font-size:12pt;
		font-family:Cambria;
	}

	p
	{
		color:#000;
		font-size:12pt;
		font-family:Cambria;
		margin:0;
	}

	h1
	{
		widows:2;
		padding-top:24pt;
		line-height:1.0;
		orphans:2;
		text-align:left;
		color:#000;
		font-size:24pt;
		font-family:Cambria;
		font-weight:700;
		padding-bottom:6pt;
		page-break-after:avoid;
	}

	h2
	{
		widows:2;
		padding-top:18pt;
		line-height:1.0;
		orphans:2;
		text-align:left;
		color:#000;
		font-size:18pt;
		font-family:Cambria;
		font-weight:700;
		padding-bottom:4pt;
		page-break-after:avoid;
	}

	h3
	{
		widows:2;
		padding-top:14pt;
		line-height:1.0;
		orphans:2;
		text-align:left;
		color:#000;
		font-size:14pt;
		font-family:Cambria;
		font-weight:700;
		padding-bottom:4pt;
		page-break-after:avoid;
	}

	h4
	{
		widows:2;
		padding-top:12pt;
		line-height:1.0;
		orphans:2;
		text-align:left;
		color:#000;
		font-size:12pt;
		font-family:Cambria;
		font-weight:700;
		padding-bottom:2pt;
		page-break-after:avoid;
	}

	h5
	{
		widows:2;
		padding-top:11pt;
		line-height:1.0;
		orphans:2;
		text-align:left;
		color:#000;
		font-size:11pt;
		font-family:Cambria;
		font-weight:700;
		padding-bottom:2pt;
		page-break-after:avoid;
	}

	h6
	{
		widows:2;
		padding-top:10pt;
		line-height:1.0;
		orphans:2;
		text-align:left;
		color:#000;
		font-size:10pt;
		font-family:Cambria;
		font-weight:700;
		padding-bottom:2pt;
		page-break-after:avoid;
	}

	.lst-kix_list_1-1>li:before,.lst-kix_list_3-7>li:before,.lst-kix_list_2-4>li:before,.lst-kix_list_1-4>li:before,.lst-kix_list_2-7>li:before,.lst-kix_list_3-4>li:before,.lst-kix_list_3-1>li:before,.lst-kix_list_1-7>li:before,.lst-kix_list_2-1>li:before
	{
		content:"o  ";
	}

	.lst-kix_list_2-8>li:before,.lst-kix_list_3-2>li:before,.lst-kix_list_1-2>li:before,.lst-kix_list_1-5>li:before,.lst-kix_list_3-5>li:before,.lst-kix_list_2-5>li:before,.lst-kix_list_1-8>li:before,.lst-kix_list_3-8>li:before,.lst-kix_list_2-2>li:before
	{
		content:"\0025aa  ";
	}

	.lst-kix_list_2-3>li:before,.lst-kix_list_3-0>li:before,.lst-kix_list_1-0>li:before,.lst-kix_list_1-3>li:before,.lst-kix_list_3-3>li:before,.lst-kix_list_3-6>li:before,.lst-kix_list_1-6>li:before,.lst-kix_list_2-6>li:before
	{
		content:"\0025cf  ";
	}

	ul.lst-kix_list_3-7,ul.lst-kix_list_3-8,ul.lst-kix_list_3-0,ul.lst-kix_list_3-1,ul.lst-kix_list_3-2,ul.lst-kix_list_3-3,ul.lst-kix_list_3-4,ul.lst-kix_list_3-5,ul.lst-kix_list_3-6,ul.lst-kix_list_1-0,ul.lst-kix_list_1-2,ul.lst-kix_list_2-4,ul.lst-kix_list_1-1,ul.lst-kix_list_2-5,ul.lst-kix_list_1-4,ul.lst-kix_list_2-6,ul.lst-kix_list_1-3,ul.lst-kix_list_2-7,ul.lst-kix_list_2-0,ul.lst-kix_list_1-6,ul.lst-kix_list_2-1,ul.lst-kix_list_1-5,ul.lst-kix_list_2-2,ul.lst-kix_list_1-8,ul.lst-kix_list_1-7,ul.lst-kix_list_2-3,ul.lst-kix_list_2-8
	{
		list-style-type:none;
	}

	ol,.c16
	{
		margin:0;
		padding:0;
	}
}

.accession-helper {
	width: 45%;
}

#login-header {
	position: absolute;
	.km-widget.km-navbar {
		background-color: transparent;
		border: none;

		[data-role=view-title] {
			opacity: 0;
		}
	}
}

#pathway .menu-toolbar {
	z-index: 1;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	padding: 0 0.27em 0 0.5em;
	border: none;
	width: 50px;
	background-color: transparent;

	.k-overflow-anchor.km-button {
		margin: 0;
		background: transparent;
		background-image: none;
		border: none;
		padding: 0;
		
		.km-icon.km-more {
			text-align: center;
			width: 100%;
			margin-left: -25px;

			&::after {
				font-family: "icon";
				content: '\e500';
				font-size: 0.75em;
				line-height: 1.3em;
				text-align: center;
			}
		}
	}
}

#pathway.km-ios7 {
	.km-popup-wrapper {
		padding: 0;
	}
}

@media only screen 
and (min-device-width : 600px) {
    #introduction-view {
        .default-app-intro-slide {
            img.default-intro-slide-main-image {
                width: 80%;
            }
            p.title {
                font-size: 2em;
            }
        }
    }
}

/*——————————————————
MOBILE & SMART PHONES – ANY ORIENTATION – MAX WIDTH
——————————————————–*/
/*–Low-end mobiles –*/
@media screen and (max-device-width:767px) and (orientation : landscape) {
	.accession-helper {
	    width: 45%;
	}
}

/*– HTC Desire, HTC Nexus One, HTC One SV, HTC Evo, HTC HD2, HTC Thunderbolt, LG Optimus 2X, LG LU1400, LG Optimus 3D, Lumia 710, Samsung Epic (D700), Samsung Nexus S SAMOLED, Samsung Nexus S LCD, Galaxy S Plus (I9001), Galaxy S II (I9100), –*/
@media only screen and (-webkit-min-device-pixel-ratio: 1.5) and (max-device-width:480px) and (orientation : portrait){
	.accession-helper {
	    width: 45%;
	}
}

/*– HTC Sensation, HTC Evo HD, HTC Sensation XE–*/
@media only screen and (-webkit-min-device-pixel-ratio: 1.5) and (max-device-width:540px) and (orientation : portrait) {
	.accession-helper {
	    width: 45%;
	}
}

/*– LG Optimus LTE, LG Spectrum (VS920), LG Optimus 4X HD-*/
@media only screen and (-webkit-min-device-pixel-ratio: 1.7) and (max-device-width:720px) and (orientation : portrait) {
	.accession-helper {
	    width: 45%;
	}
}

/*– iPhone 4, 4S, 5, iPod Touch 4Gen, 5Gen–*/
@media only screen and (-webkit-min-device-pixel-ratio: 2) and (max-device-width:640px) and (orientation : portrait) {
	.accession-helper {
	    width: 45%;
	}
}

/*– Samsung Galaxy Nexus, Galaxy S III (I9300), Samsung Galaxy Note II, , Sony Xperia S, -*/
@media only screen and (-webkit-min-device-pixel-ratio: 2) and (max-device-width:720px) and (orientation : portrait) {
	.accession-helper {
	    width: 45%;
	}
}

/*– LG Nexus 4, Blackberry Z10, Samsung Galaxy Note, Samsung Galaxy Note II -*/
@media only screen and (-webkit-min-device-pixel-ratio: 2) and (max-device-width:768px) and (orientation : portrait) {
	.accession-helper {
	    width: 45%;
	}
}

/*– HTC OneX, HTC Evo LTE, LG Nexus 4, Blackberry Z10 -*/
@media only screen and (-webkit-min-device-pixel-ratio: 2) and (max-device-width:780px) and (orientation : portrait) {
	.accession-helper {
	    width: 45%;
	}
}

/*– Samsung Galaxy Note -*/
@media only screen and (-webkit-min-device-pixel-ratio: 2) and (max-device-width:800px) and (orientation : portrait) {
	.accession-helper {
	    width: 45%;
	}
}

/*– HTCOne, HTC Droid DNA, Samsung Galaxy S4, Sony Xperia Z */
@media only screen and (-webkit-min-device-pixel-ratio: 3) and (max-device-width:1080px) and (orientation : portrait) {
	.accession-helper {
	    width: 45%;
	}
}


/*——————————————-
TABLETS
——————————————–*/
/*– Kindle Fire –*/
@media only screen and (-webkit-min-device-pixel-ratio: 1) and (max-device-width:600px) and (orientation : portrait) {
    .accession-helper {
	    width: 75%;
    }
}

/*– iPad 1Gen/2Gen iPad Mini, –*/
@media only screen and (-webkit-min-device-pixel-ratio: 1) and (max-device-width:768px) and (orientation : portrait) {
    .accession-helper {
	    width: 75%;
    }
}

/*– Kindle Fire 7″ –*/
@media only screen and (-webkit-min-device-pixel-ratio: 1.5) and (max-device-width:800px) and (orientation : portrait) {
    .accession-helper {
	    width: 75%;
    }
}

/*– Kindle Fire HD 8.9″–*/
@media only screen and (-webkit-min-device-pixel-ratio: 1.5) and (max-device-width:1200px) and (orientation : portrait) {
    .accession-helper {
	    width: 75%;
    }
}

/*– Samsung Galaxy Note III */
@media only screen and (-webkit-min-device-pixel-ratio: 2) and (max-device-width:1080px) and (orientation : portrait) {
    .accession-helper {
	    width: 75%;
    }
 }

/*– Nexus 7 –*/
@media only screen and (-webkit-min-device-pixel-ratio: 2) and (max-device-width:1280px) and (orientation : portrait) {
    .accession-helper {
	    width: 75%;
    }
}

/*– iPad 3Gen/4Gen, –*/
@media only screen and (-webkit-min-device-pixel-ratio: 2) and (max-device-width:1536px) and (orientation : portrait) {
    .accession-helper {
	    width: 75%;
    }
}

/*–Samsung Nexus 10 –*/
@media only screen and (-webkit-min-device-pixel-ratio: 2) and (max-device-width:1600px) and (orientation : portrait) {
    .accession-helper {
	    width: 75%;
    }
}

/* Short Screen Devices */
@media only screen and (device-aspect-ratio: 2/3) and (orientation : portrait),
only screen and (min-height: 180px) and (max-height: 240px)
{
	#pathway.km-ios7 {
		#welcome-step-3-view {
			.center-content {
				> p {
					margin: 0.2em auto;
					margin-bottom: 0;
					font-size: 1.2em;
				}
				ul.km-listview {
					> li {
						&.notice { margin-top: 0.65em; }
						
						padding: 0.25em;

						> label.dob {
							text-indent: 1em;
							line-height: 1.5em!important;
							> input { width: 39%!important; height: 1.4em!important; }
						}
					}
				}
			}
		}
		#welcome-step-5-view {
			.center-content {
				> p {
					margin: 1em auto;
					font-size: 1.8em;
				}
			}
		}

		#welcome-step-7-view {
			.center-content {
				> p {
					margin: 1em auto;
					font-size: 1.4em;
				}
			}
		}
	}
}

#pathway .km-widget.km-button.km-back.km-state-active.login-back-btn {
	box-shadow: none;
	-webkit-box-shadow: none;
}


/* Loading indicator */
 .loading {
    position: relative;
    width: 72px;    /* diameter */
    height: 72px;    /* diameter */
}
.outer, .inner, .loading:after {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}
/* Mask */
 .loading:after {
    content:" ";
    margin: 10%;    /* stroke width */
    border-radius: 100%;
    background: #fff;    /* container background */
}
/* Spinning gradients */
 .outer, .inner {
    animation-duration: 5s;    /* speed */
    -webkit-animation-duration: 5s;    /* speed */
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    animation-timing-function: linear;
    -webkit-animation-timing-function: linear;
}
.outer {
    animation-name: rotate-outer;
    -webkit-animation-name: rotate-outer;
}
.inner {
    animation-name: rotate-inner;
    -webkit-animation-name: rotate-inner;
}
/* Halfs */
 .outer:before, .inner:before, .outer:after, .inner:after {
    position: absolute;
    top: 0;
    bottom: 0;
    content:" ";
}
/* Left half */
 .outer:before, .inner:before {
    left: 0;
    right: 50%;
    border-radius: 72px 0 0 72px;    /* diameter */
}
/* Right half */
 .outer:after, .inner:after {
    left: 50%;
    right: 0;
    border-radius: 0 72px 72px 0;    /* diameter */
}
/* Half gradients */
 .outer:before {
    background-image: -webkit-linear-gradient(top, hsla(0, 0%, 100%, 0.0), hsla(0, 0%, 100%, 0.5));
    background-image: -moz-linear-gradient(top, hsla(0, 0%, 100%, 0.0), hsla(0, 0%, 100%, 0.5));
    background-image: linear-gradient(to bottom, hsla(0, 0%, 100%, 0.0), hsla(0, 0%, 100%, 0.5));
}
.outer:after {
    background-image: -webkit-linear-gradient(top, hsla(0, 0%, 100%, 1.0), hsla(0, 0%, 100%, 0.5));
    background-image: -moz-linear-gradient(top, hsla(0, 0%, 100%, 1.0), hsla(0, 0%, 100%, 0.5));
    background-image: linear-gradient(to bottom, hsla(0, 0%, 100%, 1.0), hsla(0, 0%, 100%, 0.5));
}
.inner:before {
    background-image: -webkit-linear-gradient(top, hsla(0, 0%, 100%, 0.5), hsla(0, 0%, 75%, 0.5));
    background-image: -moz-linear-gradient(top, hsla(0, 0%, 100%, 0.5), hsla(0, 0%, 75%, 0.5));
    background-image: linear-gradient(to bottom, hsla(0, 0%, 100%, 0.5), hsla(0, 0%, 75%, 0.5));
}
.inner:after {
    background-image: -webkit-linear-gradient(top, hsla(0, 0%, 50%, 0.5), hsla(0, 0%, 75%, 0.5));
    background-image: -moz-linear-gradient(top, hsla(0, 0%, 50%, 0.5), hsla(0, 0%, 75%, 0.5));
    background-image: linear-gradient(to bottom, hsla(0, 0%, 50%, 0.5), hsla(0, 0%, 75%, 0.5));
}
/* Spinning animations */
 @keyframes rotate-outer {
    0% {
        transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
    }
    100% {
        transform: rotate(1080deg);
        -moz-transform: rotate(1080deg);
        -webkit-transform: rotate(1080deg);
    }
}
@-webkit-keyframes rotate-outer {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(1080deg);
    }
}
@keyframes rotate-inner {
    0% {
        transform: rotate(720deg);
        -moz-transform: rotate(720deg);
        -webkit-transform: rotate(720deg);
    }
    100% {
        transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
    }
}

@-webkit-keyframes rotate-inner {
    0% {
        -webkit-transform: rotate(720deg);
    }
    100% {
        -webkit-transform: rotate(0deg);
    }
}

#pathway .unstyle-km-button {
	background: none;
	box-shadow: none;
	-webkit-box-shadow: none;
	border-bottom: 1px solid #EEEEEE;
}

#pathway.km-ios7 .km-list>li:last-child {
	box-shadow: none;
	-webkit-box-shadow: none;
	border-bottom: 1px solid #EEEEEE;
}

.divider {
	background: #EEEEEE; /* Old browsers */
	height: 1px;
	margin: 1em 0;
}

// New popup menu
#pathway .k-popup .km-popup {
	padding: 0;

	ul {
		list-style: none;
		margin: 0;
		padding: 0;

		li {
			color: #222;
			box-shadow: 0px 2px 5px #666;
			border-bottom: 1px solid #eee;
			a {
				display: block;
				background: #ffffff;
    			padding: 0.8em;
				text-decoration: none;
				margin-bottom: 0;

				&.km-state-active {
					background: #4495d1;
					color: #ffffff;
				}
			}
		}
	}
}
#pathway > div.km-shim.km-modalview-root.reports-preview-modal-wrapper-wrapper.k-state-border-down {
	background: rgba(255,255,255,0.60);
}
#pathway {
	#reports-preview-modal {
		//box-shadow: 0px 0px 4px rgba(0,0,0,0.5);
		outline: 1px solid #333;
		border: 1px solid #ffffff;

		.km-header {
			height: 74px;

			.km-navbar {
				height: 74px;
				background-color: #f173ac;

				.km-view-title { 
					font-size: 1.5em;
				}
			}
		}

		.km-footer {
			height: 3em; 
			.km-navbar {
				height: 3em; 
				.km-view-title {
					height: 2.5em;
					padding-top: 0.75em;
				}
			}
		}
	}
	#reports-preview-scrollview .km-virtual-page {
		color: #222;
		img {
			max-width: 100%;
		}
		.title {
			height: 3em;
			font-size: 1.5em;
			text-align: center;
			//line-height: 1.25em;
			//padding-top: 0.25em;

			.align-center {
				padding: 0.5em;
				position: relative;
				top: 50%;
				-webkit-transform: translateY(-50%);
				-ms-transform: translateY(-50%);
				transform: translateY(-50%);
			}
		}
		.action {
			margin-top: 5px;
			a {
				.btn;
				.good-action-button;
				// If they want it at the bottom
				//position: absolute;
				//bottom: 0;
				//right: 0.5em;
				margin: 0 auto;
				float: none;
				width: 80%;
			}
		}
	}
	div.km-widget.show-pages {
		float: right;
		width: 50%;
		font-size: 1.5em;
		margin-right: -1em;
		
		ol.km-pages {
			margin-top: -0.1em;
			padding-top: 0;
			text-align: right;
			&.lot-of-pages {
				li {
					margin-left: 5px;
				}
			}
			li {
				margin: 0;
				margin-left: 9px;
				background: #b4d0e6;
				border: none;
			}
			li.km-current-page {
				background-color: #428cc0;
				border: none;
			}
		}
	}

	#preview-closer {
		//position: absolute;
		//z-index: 10003;
		//background: #ff3300;
		//font-size: 2em;
		//width: 1em;
		//height: 1em;
		//text-align: center;
		//line-height: 1em;
		//border-radius: 1em;
		display: block;
		position: absolute;
		z-index: 10003;
		.close {
			margin: 10px;
			display: block;
			background: #ff6666;
			color: #000000;
			font-size: 20px;
			width: 24px;
			height: 24px;
			text-align: center;
			line-height: 24px;
			border-radius: 24px;
			border: none;
		}
	}
}

.preference-group {
	margin: 0;
	padding: 0;

	> li {
		list-style: none;
		border: 1px solid #666;
		border-radius: 1em;
		margin: 1em 0.5em;
		padding: 0.5em 1em;
		
		.title {
			font-weight: 900;
			line-height: 2em;
		}

		> ul {
			margin: 0;
			padding: 0;

			> li {
				list-style: none;
				position: relative;
				margin-bottom: 1em;

				.km-switch {
					position: absolute;
					right: 0;
					top: 0;
				}
			}
		}
	}
}

footer.sharable-footer.footer-btn {
	padding: 0;
}

.share-icon, .big-share-icon {
	display: inline-block;
	width: 48px;
	height: 48px;
	background-image: url(../img/share-3x.png);
	background-position: 50%;
	opacity: 0.30;
	background-size: 45%;
	background-repeat: no-repeat;
	&:active, &:hover {
		opacity: 0.75;
	}
}
.share-icon {
	margin-left: 5px;
	position: absolute;
	right: 0em;
	top: 50%;
	margin-top: -24px;
	float: right;
}

.consult-header {
	height: 60px;
	text-align: center;
	.consult-header-title { font-size: 1.5rem; padding: 0.25em 0; }
	.consult-header-subtitle { padding-bottom: 0.25em; }
}

ol.consult-questions {
	padding: 0;

	li.consult-questions-row {
		list-style-position: inside;
		padding: 1em 0.5em;
		&:nth-child(even) {
		}
		&:nth-child(odd) { 
			background: rgb(230, 230, 230);
		}
	}
	label {
		display: block;
		margin-top: 0.25em;
		padding: 0.5em;

		input { 
			vertical-align: middle;
			margin: 0 0.5em 0 1em;
		}
		span {
			vertical-align: middle;
		}
	}
}

@media only screen 
and (min-width : 768px) {
	.preference-group {
		> li {
			.title {
				height: 139px;

			}
			> ul {
				> li {
					margin-bottom: 2em;
					&:last-child {
						margin-bottom: 1em;
					}
					.km-switch {
						margin-top: -0.5em;
					}
				}
			}
		}
	}

	.big-share-icon {
		width: 64px;
		height: 64px;
		background-image: url(../img/share-3x.png);

	}

}

.k-invalid-msg {
	color: darkred;
}

#consult-eligible-form, #consult-not-eligible-form {
	.k-invalid-msg { display: none !important; }
}